@using Reporter.Models.Generated
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/css/index.css")"/>
}


@* List of professionals *@
<div class="container-fluid bg-dark text-light p-4">
    <!--    Title bar-->
    <div class="row">
        <div class="col-8">
            <img src="~/img/profind-logo-dark-surface.png" width="350" alt="Logo"/>
            <h5>Reports portal</h5>
        </div>
        <div class="col-4">
            <ul class="text-secondary">
                <li>
                    Avenida Aguilares 218 San Salvador CP, 1101, SV
                </li>
                <li>
                    (503) 7852-2783
                </li>
                <li>
                    Profind@Gmail.com
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bg-dark p-3 m-4 text-light">
    ADMINISTRATORS
</div>
<div class="m-4">
    <button type="button" class="btn btn-danger" id="download">
        Download PDF
    </button>
</div>
<!-- Table that shoow the projoects -->
<table class="table table-striped table-hover m-4 p-3">
    <thead>
    <tr>
        <th scope="col">Picture</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone number</th>
        <th scope="col">Rank</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var admin in (ViewData["admins"]! as List<Admin>)!)
    {
        <tr>
            <th>
                <img style="width: 100px; height: auto;" src="data:image/png;base64, @admin.PictureA" alt="@(admin.NameA + "'s profile picture")"/>
            </th>
            <th scope="row">@admin.NameA</th>
            <td>@admin.EmailA</td>
            <td>@admin.TelA</td>
            <td>@(admin.IdR1Navigation?.NameR ?? "Undefined")</td>
            <td>
                <button type="button" class="btn btn-success">
                    <a class="text-light" style="text-decoration: none;" asp-action="AdminDetail" asp-route-id="@admin.IdA">View</a>
                </button>
            </td>
        </tr>
    }
</table>

<div class="bg-dark text-light p-2 m-4 align-items-center">
    <b>
        <p>ADMINS REGISTERED</p>
    </b>
    <p>@((ViewData["admins"]! as List<Admin>).Count)</p>
</div>