@using Reporter.Models.Generated
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/css/index.css")"/>
}


@* List of professionals *@
<div class="container-fluid bg-dark text-light p-4">
    <!--    Title bar-->
    <div class="row">
        <div class="col-8">
            <h1>ProFind</h1>
            <h5>Reports portal</h5>
        </div>
        <div class="col-4">
            <ul class="text-secondary">
                <li>
                    Avenida Aguilares 218 San Salvador CP, 1101, SV
                </li>
                <li>
                    (503) 7852-2783
                </li>
                <li>
                    Profind@Gmail.com
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bg-dark p-3 m-4 text-light">
    ADMINISTRATORS
</div>
<div class="m-4">
    <button type="button" class="btn btn-danger">Download PDF</button>
</div>
<!-- Table that shoow the projoects -->
<table class="table table-striped table-hover m-4 p-3">
    <thead>
    <tr>
        <th scope="col">Project</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Responsible Professional</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var project in (ViewData["projects"]! as List<Project>)!)
    {
        <tr>
            <th scope="row">@project.TitlePj</th>
            <td>@project.DescriptionPj</td>
            <td>@project.IsActive</td>
            <td>@(project.IdP1Navigation?.NameP ?? "Undefined")</td>
            <td>@(project.StartDate.Value.Date.ToString())</td>
            <td>@(project.EndDate.Value.Date.ToString())</td>
            <td>
                <button type="button" class="btn btn-primary">
                    <a asp-action="ProjectDetail" asp-route-id="@project.IdPj">View</a>
                </button>
            </td>
        </tr>
    }
</table>

<div class="bg-dark text-light p-2 m-4 align-items-center">
    <b>
        <p>TOTAL PRICE</p>
    </b>
    <p>@(ViewData["totalPrice"]! as decimal?)!</p>
</div>